<% provide(:title, @position.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1> Subject: <%= @position.name %> </h1>
      <p><%= @position.abbreviation %></p>
      <%= link_to "Edit", edit_admin_position_path(@position) %>  
    </section>
  </aside>
</div>  